#
# Build options for OMAP4430 PandaBoard/OMAP4460 PandaBoard-ES
#
ARCH ?= arm
CROSS_COMPILE ?= arm-none-linux-gnueabi-

kernel ?= linux-2.6
kernel_defconfig ?= omap2plus_defconfig
kernel_image ?= zImage
kernel_image_location ?= arch/arm/boot/zImage
kernel_dtb?=arch/arm/boot/dts/omap4-panda*.dtb

# bootloader stuff
bootloader ?=  u-boot
bootloader_defconfig ?= omap4_panda_config
bootloader_image ?=
bootloader_image_location ?= u-boot.img
bootloader_env ?= configs/omap4_panda_uEnv.txt

spl_bootloader ?=  u-boot
spl_bootloader_defconfig ?= omap4_panda_config
spl_bootloader_image ?=
spl_bootloader_image_location ?= MLO
