#
# Build options for OMAP4430 PandaBoard
#
ARCH ?= arm
CROSS_COMPILE ?= arm-none-linux-gnueabi-

kernel ?= linux-2.6
kernel_defconfig ?= omap2plus_defconfig
kernel_image ?= uImage
kernel_image_location ?= arch/arm/boot/uImage

bootloader ?=  u-boot
bootloader_defconfig ?= omap4_panda_config
bootloader_image ?= 
bootloader_image_location ?= u-boot.bin
bootloader_cmd ?= configs/u-boot.cmd

spl_bootloader ?=  u-boot
spl_bootloader_defconfig ?= omap4_panda_config
spl_bootloader_image ?= 
spl_bootloader_image_location ?= MLO

