#
# Build options for OMAP3530 beagle/3730 beagleXM
#
ARCH ?= arm
CROSS_COMPILE ?= arm-none-linux-gnueabi-

kernel ?= linux-2.6
kernel_defconfig ?= omap2plus_defconfig
kernel_image ?= zImage
kernel_image_location ?= arch/arm/boot/zImage
kernel_dtb?=arch/arm/boot/dts/omap3-beagle*.dtb

bootloader ?=  u-boot
bootloader_defconfig ?= omap3_beagle_config
bootloader_image ?= 
bootloader_image_location ?= u-boot.img
bootloader_env ?= configs/omap3_beaglexm_uEnv.txt

spl_bootloader ?=  u-boot
spl_bootloader_defconfig ?= omap3_beagle_config
spl_bootloader_image ?= 
spl_bootloader_image_location ?= MLO
