#!/bin/bash

help(){
	echo -e "Usage:\n$0 [-v ] -d confid_dir -c config_file" >&2
	echo -e "Where:\n" \
		" -v = verbose (optional - default: not verbose)\n"\
		" -d config_dir (configuration directory)\n"\
		" -c config_file (configuration file)\n" >&2
}

verbose=0

while getopts d:c:v o
do	case "$o" in
	v)	verbose=1;;
	d)	config_dir="$OPTARG";;
	c)	config_file="$OPTARG";;
	[?])	help
		exit 1;;
	esac
done
if [ -z "$config_dir" -o ! -d "$config_dir" ]; then
	echo "Missing or Error config dir '$config_dir' is bad?">&2
	help
	exit 2
fi

if [ -z "$config_file" -o ! -f "$config_dir/$config_file" ]; then
	echo "Missing Error config file '$config_file' check "\
		"$config_dir/$config_file is bad?">&2
	help
	exit 2
fi
if [ $verbose -eq 1 ]; then
	echo config_dir=$config_dir config_file=$config_file
	set -x
fi

# we might do more than this silly lil code later on.. but what the heck..
cat $config_dir/$config_file|sed -e "s/\s\s*/ /g"|sed -e "s/^\s\s*//g"|sed -e "s/\s\s*$//g"|sed -e "s/\#.*//g"|grep -v "^$"> .config || exit 3
